<div class="container-fluid">
    <div class="row grid" id="about">
        <h2>Frontend and Javascript developement</h2>
        <p class="text-center">lightradius specializes in helping small businesses and start-ups get a foothold on the web</p>
        <div class="col-lg-4">
            <div class="card">
                <h3>Consistency <i class="fa fa-check pull-right"></i></h3>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-bold">Expert in Single Page Web Applications</p>
                        <p>Using true and tested frameworks that deliver consistent results and work across all popular browsers, making sure that your application or website looks and works exactly as you want it to, all the time.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <h3>Modularity <i class="fa fa-check pull-right"></i></h3>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-bold">Divide to conquer</p>
                        <p>Tackle one piece of the project at a time. Agile development empowers you, the client, to have complete control over the direction the project is taking while providing the fastest feedback loops to adjust course as soon as possible.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <h3>Performace <i class="fa fa-check pull-right"></i></h3>
                <div class="row">
                    <div class="col-md-12">
                        <p>Ipsum do est quis beef short loin cupidatat meatball anim beef ribs dolore kielbasa. Tenderloin sint pork belly, picanha cupidatat cupim exercitation. Consequat laboris labore occaecat.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <h3>There is absolutely no reason to do so!</h3>
            <div class="btn btn-default">Have a project? Get in touch.</div>
        </div>
    </div>
</div>
