<div class="container-fluid" id="about">
    <div class="section">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Frontend Web Development</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="card">
                    <h3>Consistency <i class="fa fa-check pull-right"></i></h3>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-bold">Expert in Single Page Web Applications</p>
                            <p>Using true and tested frameworks that deliver consistent results and work across all popular browsers, making sure that your application or website looks and works exactly as you want it to, all the time.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="card">
                    <h3>Modularity <i class="fa fa-check pull-right"></i></h3>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-bold">Expert in Single Page Web Applications</p>
                            <p>Using true and tested frameworks that deliver consistent results and work across all popular browsers, making sure that your application or website looks and works exactly as you want it to, all the time.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="card">
                    <h3>Performance <i class="fa fa-check pull-right"></i></h3>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-bold">Expert in Single Page Web Applications</p>
                            <p>Using true and tested frameworks that deliver consistent results and work across all popular browsers, making sure that your application or website looks and works exactly as you want it to, all the time.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="btn btn-default">Have a project? Get in touch.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" ng-repeat="tech in vm.techs"><h3>{{tech}}</h3></div>
            <ng-tag-cloud cloud-width="250" cloud-height="250" cloud-data="vm.data"></ng-tag-cloud> <!-- default height and width is 300px -->
        </div>
    </div>
</div>
