// About
#about {
    background-color: $light-background;
    box-shadow: 0 2px 0 $light-purple;
    h1, h2, h3 {
        // text-align: center;
        color: $slate-blue;
        text-shadow: 1px 1px 0 grey;
    }
    .card {
        margin-bottom: 25px;
        background-color: Oldlace;
        padding: 20px;
        color: black;
        box-shadow: 0 3px 3px grey;
        h3 {
            color: $dark-purple;
        }
    }
}
