#contact {
    background-image: radial-gradient(
        circle at bottom right,
        $light-purple,
        $dark-purple
    );
    ul {
        list-style: none;
        padding: 0;
        li {
            padding: 18px 0;
            font-family: Orbitron;
            font-size: 24px;
            font-weight: bold;
        }
    }
}
