// Home
#home {
    height: 850px;
    position: relative;
    background-image: radial-gradient(
        circle at top right,
        $light-purple,
        $dark-purple
    );

    #splash {
        position: absolute;
        z-index: 2;
        top: 50%;
        padding-bottom: 50px;
        transform: translateY(-50%);
        select: none;
        h2 {
            font-weight: bold;
            color: white;
            font-size: 48px;
            padding-left: 24px;
            text-shadow: 1px 1px 0px black;
        }
        a {
            font-size: 24px;
            color: white;
            cursor: default;
            &:hover, &:active {
                text-decoration: none;
            }
        }
    }

    #arrow {
        position: absolute;
        color: $secondary;
        bottom: -8px;
        left: 50%;
        transform: translate( -50% );
        &:hover {
          color: white;
        }
    }
}

.grid {
    height: 850px;
    position: absolute;
    background-image: url(../assets/img/pattern.png);
    background-repeat: repeat;
    width: 100%;
    z-index: 1;
}
