// Testing custom navbar height
.navbar-nav > li > a, .navbar-brand {
  padding-top: 28px !important; padding-bottom: 0 !important;
  padding-left: 28px !important;
  padding-right: 28px !important;
  height: 80px;
}
button.navbar-toggle.collapsed {
  margin-top: 23px !important;
}
button.navbar-toggle {
  margin-top: 23px !important;
}
.navbar {
  font-family: 'Orbitron';
  border-radius: 0;
  border: none;
  min-height:80px !important;
  a:active, a:hover, a:focus {
    border-bottom: 3px solid pink;
  }
}
