$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "compass";

// colors
$light-purple: BlueViolet;
$slate-blue: DarkSlateBlue;
$dark-purple: #2E0854;
$secondary: LimeGreen;
$light-background: #e9e6ee;
$background: DarkSlateBlue;
$subtle: #333;

@import "animations";
@import "navbar";
@import "home";
@import "interlude";
@import "about";
@import "projects";
@import "contact";
@import "footer";
@import "compass";

/*
 * Basic elements
 */
html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    height: 100%;
    color: white;
    // background-color: $background;
    font-family: 'Open Sans';
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron';
    color: $secondary;
}

a:hover {
    color: white;
}

/*
 * Helper classes
 */

.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.box-shadow {
    box-shadow: 0 2px 0 $light-purple;
}

.section {
    padding: 80px;
}


/* structural and helper classes */
.brand {
    font-family: 'Orbitron';
    font-weight: 400;
    color: white;
    &>span {
        font-weight: 900;
        color: $secondary;
    }
}

.parallax {
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 650px;
    position: relative;
    background-image: url(../assets/img/bg.jpg);
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.text-bold {
    font-weight: 900;
    color: $light-purple;
}

#dollar {
    color: $secondary;
    cursor: pointer;
}

.achievement {
    height: 100px;
    width: 300px;
    background-color: white;
    border: 8px solid Indigo;
    position: absolute;
    top: 8px;
    left: 9px;
    z-index: 999px;
    display: none;
}

@import "media-queries";
