$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "compass";

// colors
$light-purple: BlueViolet;
$dark-purple: #2E0854;
$secondary: LimeGreen;
$background: #111;
$subtle: #333;

@import "animations";
@import "navbar";
@import "footer";
@import "compass";

/*
 * Basic elements
 */

body {
    height: 100%;
    color: white;
    background-color: $background;
    // margin-top: 80px;
    font-family: 'Open Sans';
    // font-size: 1.8em;
    font-weight: 100;
    /* Needed to stop white horizontal strips from showing under the parallax when scrolling up too fast */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron';
    color: $secondary;
}

h2 {
    font-size: 36px;
}

a:hover {
    color: white;
}

/*
 * Helper classes
 */

.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.box-shadow {
    box-shadow: 0 2px 0 grey;
}

/* structural and helper classes */
.brand {
    font-family: 'Orbitron';
    font-weight: 400;
    color: white;
    &>span {
        font-weight: 900;
        color: $secondary;
    }
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.section {
    // margin-top: 84px;
    height: 600px;
}

.text-bold {
    font-weight: 900;
    color: $light-purple;
}

/*
 * Page Sections
 */

// Home
#home {
    height: 660px;
    background-image: radial-gradient(
        circle at top right,
        $light-purple,
        $dark-purple
    );
    position: relative;
    #arrow {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: 15px;
        h3 {
            width: 0px;
            margin: 0 auto;
            a {
                color: $secondary;
                &:hover {
                  color: white;
                }
            }
        }
    }
}

// About
#about {
    padding: 25px 15px;
    background-color: #E5DFF2;
    .card {
        margin-bottom: 25px;
        background-color: Oldlace;
        padding: 20px;
        color: black;
        &:hover {
            position: relative;
            top: -2px;
        }
        h3 {
            color: $dark-purple;
        }
    }
}


// .grid {
//     background: url("../assets/img/pattern.png") repeat;
// }

.lead-image {
    height: 100%;
    // background: url("../assets/img/bg3.jpg") no-repeat center center;
    // background-size: cover;
}

#splash {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    select: none;
    h2 {
        font-weight: bold;
        color: white;
        font-size: 60px;
        padding-left: 24px;
        // text-shadow: 0px 0px 4px black;
        // text-shadow: 0px 0px 16px black;
    }
    a {
        font-size: 24px;
        color: white;
        cursor: default;
        &:hover, &:active {
            text-decoration: none;
        }
    }
}

#dollar {
    color: $secondary;
    cursor: pointer;
}

.achievement {
    height: 100px;
    width: 300px;
    background-color: white;
    border: 8px solid Indigo;
    position: absolute;
    top: 8px;
    left: 9px;
    z-index: 999px;
    display: none;
}



@import "media-queries";
