$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "compass";

// colors
$primary: BlueViolet;
$secondary: LimeGreen;
$background: #111;
$subtle: #333;


// fonts

@import "animations";
@import "navbar";
@import "footer";

/* Basic Elements */
body {
    height: 100%;
    color: white;
    background-color: $background;
    // margin-top: 80px;
    font-family: 'Open Sans';
    // font-size: 1.8em;
    font-weight: 100;
    /* Needed to stop white horizontal strips from showing under the parallax when scrolling up too fast */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron';
    color: $secondary;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

/* structural and helper classes */
.brand {
    font-family: 'Orbitron';
    font-weight: 400;
    color: white;
    &>span {
        font-weight: 900;
        color: $primary;
    }
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.card {
    color: purple;
    background-color: aquamarine;
    height: 400px;
    box-shadow: 0 2px grey;
}

.section {
    margin-top: 84px;
    height: 600px;
}

.text-bold {
    font-weight: 900;
    color: $primary;
}

/* pages */
// page 1
#home, .grid {
    height: 760px;
    background-color: purple;
}

.grid {
    position: absolute;
    top: 0;
    width: 100%;
    background: url("../assets/img/pattern.png") repeat;
    // background-color: green;
    opacity: 0.4;
}

.lead-image {
    height: 100%;
    // background: url("../assets/img/bg3.jpg") no-repeat center center;
    // background-size: cover;
}

#splash {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    h2 {
        font-weight: bold;
        color: white;
        font-size: 60px;
        text-shadow: 0px 0px 4px black;
        text-shadow: 0px 0px 16px black;
    }
    a {
        font-size: 24px;
        color: white;
        cursor: default;
        &:hover, &:active {
            text-decoration: none;
        }
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #home, .grid {
        height: 700px;
    }
    h2 {
        font-size: 70px;
    }
    a {
        font-size: 16px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #home, .grid {
        height: 600px;
    }
    h2 {
        font-size: 50px;
    }
    a {
        font-size: 14px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #home, .grid {
        height: 540px;
    }
    h2 {
        font-size: 40px;
    }
    a {
        font-size: 14px;
    }
    .navbar {
        background-color: $background !important;
        border-bottom: 1px solid $secondary;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    h2 {
        font-size: 30px;
    }
    a {
        font-size: 14px;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
