<div class="parallax" parallax-background parallax-ratio="0.2">

</div>
<div class="container-fluid" id="contact">
    <div class="row">
        <div class="col-xs-6">
            <h1>Contact Me</h1>
            <ul>
                <li><a class="smooth" href="https://pt.linkedin.com/in/vftiago"><i class="fa fa-github" aria-hidden="true"></i> Github</a></li>
                <li><a class="smooth" href="https://pt.linkedin.com/in/vftiago"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></li>
                <li><a class="smooth" href="https://pt.linkedin.com/in/vftiago"><i class="fa fa-skype" aria-hidden="true"></i> Skype</a></li>
            </ul>
        </div>
    </div>
</div>
